<header class="header">

    <div class="header__icon">
        <a routerLink="/">
            <img src="./assets/img/dufort-logo.png" alt="sergio dufort logo">
        </a>
    </div>

    <div class="header__social">

        <div class="header__social--youtube">
            <a href="https://www.youtube.com/@DufortPT/videos" target="_blank">
                <img src="./assets/img/youtube.svg" alt="youtube logo">
            </a>
        </div>

        <div class="header__social--instagram">
            <a href="https://www.instagram.com/sergio_dufort/" target="_blank">
                <img src="./assets/img/instagram.svg" alt="instagram logo">
            </a>
        </div>
    </div>
</header>