@import "variables";

.header {

    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 2;

    &__icon {
        width: 140px;
        height: 141px;
    }

    &__social {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        gap: 40px;

        .header__social--youtube,
        .header__social--instagram {
            width: 30px;
            transition: all .4s ease;
        }

        .header__social--youtube:hover {
            background-color: red;
            border-radius: 10px;
        }

        .header__social--instagram:hover {
            background-color: #E1306C;
            border-radius: 10px;
        }
    }



}