<section class="history">
    <h2 class="history__title">A Mi Manera</h2>

    <div class="container">
        <div class="history__card">
            <div class="history__card--text">
                <p>
                    Un día me negué a seguir siendo víctima de mi genética y decidí ser consecuencia de mi trabajo, un
                    día
                    dejé de buscar excusas y llegaron las respuestas, un día pensé que si te pasas el día soñando, es
                    por
                    que estás dormido.
                </p>
            </div>
            <div class="history__card--image">
                <img src="./assets/img/dufort-history.jpg" alt="image dufort">
            </div>
        </div>
    </div>
</section>