<section class="products">

    <h2 class="products__title">Productos</h2>

    <div class="container">
        <div class="wrapper">
            <div class="card">
                <div class="card__img">
                    <img src="./assets/img/masmusculo.jpg" alt="mas musculo">
                </div>

                <div class="card__text">
                    <p>Código: dufort</p>
                    <a href="https://www.instagram.com/masmusculocom/" target="_blank">
                        <button class="btn">Mas Músculo</button>
                    </a>
                </div>
            </div>


            <div class="card">
                <div class="card__img">
                    <img src="./assets/img/fresquito.png" alt="fresquito">
                </div>

                <div class="card__text">
                    <p>APPAREL</p>
                    <a href="https://www.instagram.com/fresquitolifters/" target="_blank">
                        <button class="btn">Fresquito Lifters</button>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card__img">
                    <img src="./assets/img/bobygreen.jpeg" alt="bobygreen">
                </div>

                <div class="card__text">
                    <p>Código: dufort</p>
                    <a href="https://www.instagram.com/bobygreen.cbd/" target="_blank">
                        <button class="btn">Boby Green</button>
                    </a>
                </div>
            </div>

        </div>
    </div>

</section>